<!-- CHECKLIST : liste de <input type="checkbox"... /> dans un <div></div> -->

<!--  TODO: devrait se baser sur le générateur de checkbox dans checkbox.html -->



<template match="//checklist" name="" label="" src="" class="" tag="span">
    <label test="$label" class="checklist{rtrim(' '.$class)}">$label</label>
    <div class="checklist{rtrim(' '.$class)}">
<!--        <fill values="$name">-->
            <loop on="$src" as="$line, $record">
                <tag name="$tag" class="check{rtrim(' '.$class)}">{select('@*')}
                    <input
                        type="checkbox"
                        name="$name"
                        value="{$record['code']}"
                        class="check{rtrim(' '.$class)}"
                        id="$name$line" />
                    <label class="check{rtrim(' '.$class)}" for="$name$line" >{$record['label']}</label>
                </tag>
                {select('.//node()')}
            </loop>
<!--        </fill>-->
    </div>
</template>