<!-- CHECKBOX : <input type="checkbox"... /> -->
<!-- TODO : décommenter le <fill></fill> quand bug résolu -->

<template match="//checkbox" name="" label="" value="" class="">
<!--    <fill values="$$name" code='checked="checked"' separator="$sep">-->
        <input
            type="checkbox"
            name="$name"
            value="$value"
            class="check{rtrim(' '.$class)}"
            id="{$label? autoId($name:'checkbox') : ''}">{select('@*')}</input>
<!--        </fill>-->
        <label test="$label" class="check $class" for="{lastId()}">$label</label>{select('node()')}</template>