<!-- TEXTBOX correspond à une zone simple de type password : <input type="password"... /> -->
<!-- (pas d'attribut rows) -->

<template match="//textbox[@password='true']" name="" label="" value="" class="" password="">
    <label if="'$label'" class="text $class" for="{autoId()}">$label</label>
    <input
        type="password" 
        name="$name" 
        title="$label"
        value="{select('string(@value)')}{select('.//text()')}"
        class="text $class" 
        id="{lastId()}">
        {select('@*')}
    </input>
</template>