<!-- TEXTBOX correspondant aux zones de texte simple : <input type="text" ... /> -->
<!-- (pas d'attribut 'rows') -->

<template match="//textbox" name="" label="" value="" class="" id="">
    <label test="$label" class="text{rtrim(' '.$class)}" for="{autoId($id:$name:'textbox')}">$label</label>
    <input
        type="text" 
        name="$name" 
        title="$label"
        value="{select('@value')}{select('.//node()')}"
        class="text{rtrim(' '.$class)}" 
        id="{$label ? lastId() : ''}">{select('@*')}</input>
</template>