/* TODO : ajouter les commentaires présents dans generators_OLD.html */
/* TODO : il faudrait que chaque contrôle utilisateur de type list (checklist, etc.) génère le contrôle sur
lequel il se base au lieu de dupliquer le code comme on le fait actuellement. Or, on ne peut pas le faire pour l'instant */

<!-- TEXTBOX multiligne = : <textarea ... ></textarea> -->
<!-- @rows != "" -->
<!-- {select('string(@value)')}{select('.//node()')} récupère la valeur de l'attribut @value et de l'élement (tag) -->
<!-- {select('@*') ajoute les éventuels attributs supplémentaires indiqués par l'appelant à la liste d'attributs du textarea -->

<template match="//textbox[@rows]" name="" label="" value="" class="" rows="" cols="20">
    <label if="'$label'" class="textarea $class" for="{autoId()}">$label</label>
    <textarea
        name="$name"
        title="$label"
        class="textarea $class"
        rows="{'$rows':3}"
        cols="$cols"
        id="{lastId()}">{select('string(@value)')}{select('.//node()')}{select('@*')}</textarea>
</template>






<!-- TEXTBOX correspond à une zone simple de type password : <input type="password"... /> -->
<!-- (pas d'attribut rows) -->

<template match="//textbox[@password='true']" name="" label="" value="" class="" password="">
    <label if="'$label'" class="text $class" for="{autoId()}">$label</label>
    <input
        type="password" 
        name="$name" 
        title="$label"
        value="{select('string(@value)')}{select('.//text()')}"
        class="text $class" 
        id="{lastId()}">
        {select('@*')}
    </input>
</template>




<!-- TEXTBOX correspondant aux zones de texte simple : <input type="text" ... /> -->
<!-- (pas d'attribut 'rows') -->

<template match="//textbox" name="" label="" value="" class="">
    <label if="'$label'" class="text $class" for="{autoId()}">$label</label>
    <input
        type="text" 
        name="$name" 
        title="$label"
        value="{select('string(@value)')}{select('.//text()')}"
        class="text $class" 
        id="{lastId()}">
        {select('@*')}
    </input>
</template>




<!-- CHECKLIST : liste de <input type="checkbox"... /> dans un <div></div> -->

<template match="//checklist" name="" label="" src="" class="">
    <label if="'$label'" class="checklist $class">$label</label>
    <div class="checklist $class">
        <fill values="$name">
            <loop on="$src" as="$line, $record">
                <span class="check $class">{select('@*')}
                    <input
                        type="checkbox"
                        name="$name"
                        value="{$record['code']}"
                        class="check $class"
                        id="$name$line" />
                    <label class="check $class" for="$name$line" >{$record['label']}</label>
                </span>
            </loop>
        </fill>
    </div>
</template>





<!-- CHECKBOX : <input type="checkbox"... /> -->
<!-- TODO : décommenter le <fill></fill> quand bug résolu -->

<template match="//checkbox" name="" label="" value="" class="">
<!--    <fill values="$$name" code='checked="checked"' separator="$sep">-->
        <input
            type="checkbox"
            name="$name"
            value="$value"
            class="check $class"
            id="{autoId()}">
            {select('@*')}
            </input>
<!--        </fill>-->
        <label if="'$label'" class="check $class" for="{lastId()}">$label</label>
        <!-- Le contenu du tag -->
        {select('node()')}
</template>





<!-- RADIOLIST -->

<template match="//radiolist" name="" label="" value="" src="" class="">
    <label if="'$label'" class="radiolist $class">$label</label>
    <div class="radiolist $class">
        <fill values="$name">
            <loop on="$src" as="$line, $record">{select('@*')}
                <span class="radio class">
                    <input
                        type="radio"
                        name="$name"
                        value="{$record['code']}"
                        class="radio $class"
                        id="$name$line" />
                    <label class="radio $class" for="$name$line" >{$record['label']}</label>
                </span>
            </loop>
        </fill>
    </div>
</template>



<!-- RADIO -->

<template match="//radio" name="" label="" value="" class="">
    <fill values="$$name" code='selected="selected"' separator="$sep">
        <input
            type="radio"
            name="$name"
            value="$value"
            class="radio $class"
            id="{autoId()}">
            {select('@*')}
        </input>
    </fill>
    <label if="'$label'" class="radio $class" for="{lastId()}">$label</label>
    <!-- Le contenu du tag -->
    {select('node()')}
</template>



<!-- SELECT : <select...><option value=... >...</option></select> -->
<!-- les différentes valeurs ou options du select sont chargées à partir du fichier spécifié comme @src -->
<!-- l'utilisateur peut ajouter ses propres options comme par ex, une sélection = (vide) ou = (tous), ... -->

<template match="//select" name="" label="" src="" class="" size="" sep="" >
    <label if="'$label'" class="select $class" for="{autoId()}">$label</label>
    <input type="hidden" name="$name" value="" />
    <fill values="$$name" code='selected="selected"' separator="$sep">
        <select
            name="$name"
            size="$size"
            class="select $class"
            id="{lastId()}">
            {select('@*')}
            {select('.//node()')}
            <loop on="$src" as="$line, $record">
                <option value="{$record['code']}"
                        id="{lastId()}-{$record['line']}">
                        {$record['label']}
                </option>
            </loop>
        </select>
    </fill>
</template>





<!-- FIELDSET : <fieldset><legend></legend></fieldset> -->

<template match="//fieldset" label="" class="">
    <fieldset class="fieldset $class">
        <legend test="'$label'">$label</legend>
        {select('./node()')}{select('@*')}
    </fieldset>
</template>





<!-- SUBMIT bouton de type submit : <input type="submit"... /> -->
<!-- Remarque : @label correspond au libellé du bouton (équivalent à @value en XHTML) -->

<template match="//submit" name="" label="" class="">
    <input
        type="submit"
        name="$name"
        value="{select('string(@label)')}{select('.//text()')}"
        class="submit $class">
        {select('@*')}
    </input>
</template>




<!-- BUTTON -->

<template match="//button" name="" label="" class="">
    <input
        type="button"
        name="$name"
        value="{select('string(@label)')}{select('.//text()')}"
        class="button $class">
        {select('@*')}
    </input>
</template>





<!-- UPLOAD -->
<!-- Fichier à uploader -->

<template match="//upload" name="" label="" value="" class="">
    <label if="'$label'" class="select $class" for="{autoId()}">$label</label>
    <input name="$name" type="file" title="$label" value="$value" class="file $class" id="{autoId()}" />
</template>
