<?xml version="1.0" encoding="UTF-8"?>
<config>
    <title>Liste des fichiers</title>

    <description><![CDATA[
        <p>
            Permet de renommer, copier, supprimer les fichiers d'un répertoire.
        </p>
    ]]></description>

    <icon>/FabWeb/modules/AdminFiles/images/logo.png</icon>

    <directory />
    
    <!-- Pour les action Edit et Save, indique si le fichier édité est en utf8 -->
    <utf8>false</utf8>
    
    <actionIndex>
        <template>index.html</template>
    </actionIndex>

    <actionNew>
    	<template>new.html</template>
    </actionNew>
    
    <actionRename>
        <template>rename.html</template>
    </actionRename>

    <actionCopy>
        <template>copy.html</template>
    </actionCopy>

    <actionCopyFrom>
        <template>copy.html</template>
    </actionCopyFrom>

    <actionDelete>
        <template>delete.html</template>
    </actionDelete>

    <actionDownload>
        <layout>none</layout>
        <debug>false</debug>
        <showdebug>false</showdebug>
    </actionDownload>

    <actionEdit>
        <template>edit.html</template>
        <theme>default</theme>
        <layout>default.htm</layout>
        <js>
            <item>jquery.js</item>
            <item>EditArea.js</item>
        </js>
        <css inherit="true">
            <item>/FabWeb/modules/AdminFiles/css/edit.css</item>
        </css>
    </actionEdit>
</config>