<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
    <JS>
        <item>/fabweb/js/lib/neil.fraser/diff_match_patch.js</item>
    </JS>
    <CSS>
        <item>/fabweb/styles/autotest.css</item>
    </CSS>
    <run>
        <JS>
            <item>/fabweb/js/autotest.js</item>
        </JS>
    </run>
    <theme>default</theme>
    <layout>default.htm</layout>
</config>
