<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
    <css>/fabweb/css/autotest.css</css>
    <actionRun>
        <js>
            <item>/fabweb/js/autotest.js</item>
            <item>diff_match_patch.js</item>
        </js>
    </actionRun>
    
    <theme>default</theme>
    <layout>default.htm</layout>
</config>
