<?xml version="1.0" encoding="UTF-8"?>
<config>
    <theme>default</theme>
    <layout>default.htm</layout>
    
    <css>docbook_html.css</css>

    <js></js>
    
    
    <!--
        types indique la liste des types autorisés dans la documentation 
     -->
    <types>
        <array>
            <link>http://php.net/manual/language.types.array.php</link>
        </array>
        
        <Array>
            <use>array</use>
        </Array>
        
        <bool>
            <link>http://php.net/manual/language.types.boolean.php</link>
        </bool>

        <boolean>
            <use>bool</use>
        </boolean>
        
        <callback>
            <link>http://php.net/manual/language.pseudo-types.php</link>
        </callback>
        
        <int>
            <link>http://php.net/manual/language.types.integer.php</link>
        </int>
        
        <!-- pas vraiment un type, mais utile pour indiquer que la valeur 'null' peut être indiquée -->
        <null>
            <link>http://php.net/manual/language.types.null.php</link>
        </null>
        
        <object>
            <link>http://php.net/manual/language.types.object.php</link>
        </object>
        
        <mixed>
            <link>http://php.net/manual/language.pseudo-types.php</link>
        </mixed>
        
        <resource>
            <link>http://php.net/manual/language.types.resource.php</link>
        </resource>
        
        <scalar>
            <link>http://php.net/manual/language.pseudo-types.php</link>
        </scalar>
        
        <string>
            <link>http://php.net/manual/language.types.string.php</link>
        </string>
    </types>
    
    <admonitions>
        <!-- La mention 'Remarque' au singulier ou au pluriel, suivie éventuellement d'un nombre -->
        <item>
            <match>Remarque(?:s)?(?:\s*[0-9]+)?</match>
            <type>tip</type>
        </item>

        <!-- La mention 'Note' au singulier ou au pluriel, suivie éventuellement d'un nombre -->
        <item>
            <match>Note(?:s)?(?:\s*[0-9]+)?</match>
            <type>note</type>
        </item>

        <!-- La mention 'Attention' au singulier ou au pluriel, suivie éventuellement d'un nombre -->
        <item>
            <match>Important(?:s)?(?:\s*[0-9]+)?</match>
            <type>warning</type>
        </item>

        <!-- La mention 'Exemple' au singulier ou au pluriel, suivie éventuellement d'un nombre -->
        <item>
            <match>Exemple(?:s)?(?:\s*[0-9]+)?</match>
            <type>example</type>
        </item>
        
        <!-- La mention 'Exemple d'utilisation' au singulier ou au pluriel -->
        <item>
            <match>Exemple(?:s)? d'utilisation(?:s)?</match>
            <type>example</type>
        </item>

        <!-- Mentions todo : -->
        <item>
            <match>todo</match>
            <type>important</type>
        </item>

        <!-- Juste pour détecter d'autres éventuelles -->
<!--        <item>-->
<!--            <match>[a-z]+(?:s)?(?:\s*[0-9]+)?</match>-->
<!--            <type>caution</type>-->
<!--        </item>-->
    </admonitions>
</config>