<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
    <js>
        <item>diff_match_patch.js</item>
    </js>
    <css>
        <item>/fabweb/styles/autotest.css</item>
    </css>
    <actionRun>
        <js>
            <item>/fabweb/js/autotest.js</item>
        </js>
    </actionRun>
    <theme>default</theme>
    <layout>default.htm</layout>
</config>
