<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
    <name>cart</name>
    <add>
        <template>added.html</template>
    </add>
    <remove>
        <template>removed.html</template>
    </remove>
    <clear>
        <template>cleared.html</template>
    </clear>
    <show>
        <template>show.html</template>
    </show>
</config>
