<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
    <database />
    <callback>none</callback>
    <rawDBOutput>
        <access>admin</access>
        <action>show</action>
        <callback>none</callback>
        <template>rawDB.html</template>
        <layout>none</layout>
    </rawDBOutput>
    <search>
        <sort>+</sort>
        <max>10</max>
    </search>
    <lookup>
        <template>ajaxlookup3.html</template>
        <layout>none</layout>
    </lookup>
    <export>
        <template>export.html</template>
        <mailtemplate />
        <allowzip>true</allowzip>
        <forcezip>false</forcezip>
        <allowmail>true</allowmail>
        <forcemail>false</forcemail>
        <formats>
            <tableHtml>
                <label>Table html</label>
                <template>table.html</template>
                <content-type>text/html</content-type>
                <max>100</max>
            </tableHtml>
            <csv>
                <label>Format CSV</label>
                <access>Admin</access>
                <template>csv.txt</template>
                <content-type>text/plain</content-type>
                <content-disposition>attachment; filename="export.csv"</content-disposition>
            </csv>
            <AJP1>
                <label>Format AJP (ajout piloté) - fichier</label>
                <access>Admin</access>
                <template>ajp.txt</template>
                <content-type>text/plain</content-type>
                <content-disposition>attachment; filename="export.ap"</content-disposition>
            </AJP1>
            <AJP2>
                <label>Format AJP (ajout piloté) - affichage</label>
                <access>Admin</access>
                <template>ajp.txt</template>
                <content-type>text/plain</content-type>
                <default>true</default>
                <callback>
                    <tre>aaa</tre>
                    <Admin>bbb</Admin>
                    <default>ccc</default>
                </callback>
                <max>
                    <Admin>-1</Admin>
                    <default>100</default>
                </max>
                <sep> / </sep>
            </AJP2>
            <XML>
                <label>Format XML - affichage</label>
                <access>Admin</access>
                <content-type>text/xml; charset=iso-8859-1</content-type>
                <generator>exportXml</generator>
            </XML>
        </formats>
    </export>
    <replaceForm>
        <template>replaceForm.html</template>
    </replaceForm>
</config>
