<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
    <theme>default</theme>
    <layout>default.htm</layout>
    <title>Inspecteur de base de données</title>
    <JS>/fabweb/js/lib/jquery/jquery-1.2.1.min.js</JS>
    <CSS>/fabweb/styles/databaseinspector.css</CSS>
    <searchform>
        <template>searchform.html</template>
        <JS>
            <item>/fabweb/js/lib/jquery/jquery-1.2.1.min.js</item>
            <item>/fabweb/js/rpc.js</item>
        </JS>
        <templates>
            <autoinclude>
                <fieldset>include/textbox.html</fieldset>
            </autoinclude>
        </templates>
    </searchform>
    <search>
        <template>search.html</template>
        <max>1</max>
    </search>
    <export>
        <slots>
            <otherparams>export.slot.html</otherparams>
        </slots>
    </export>
</config>
