<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
    <theme>default</theme>
    <layout>default.htm</layout>
    <title>Inspecteur de base de données</title>
    <js>jquery.js</js>
    <css>/fabweb/css/databaseinspector.css</css>
    <actionSearchForm>
        <template>searchform.html</template>
        <js>
            <item>jquery.js</item>
            <item>rpc.js</item>
        </js>
        <templates>
            <autoinclude>
                <fieldset>include/textbox.html</fieldset>
            </autoinclude>
        </templates>
    </actionSearchForm>
    <actionSearch>
        <template>search.html</template>
        <max>1</max>
    </actionSearch>
    <actionExport>
        <slots>
            <otherparams>export.slot.html</otherparams>
        </slots>
    </actionExport>
</config>
