<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
    <theme>default</theme>
    <layout>default.htm</layout>
    <ascoload>
        <layout>none</layout>
    </ascoload>
    <EditStructure>
        <theme>default</theme>
        <layout>default.htm</layout>
        <JS>
            <item>/fabweb/js/lib/jquery/jquery-1.2.1.min.js</item>
            <item>/fabweb/js/lib/jquery/jqModal.min.js</item>
            <item>/fabweb/js/lib/jquery/json.min.js</item>
            <item>/fabweb/js/dbedit.js</item>
            <item>/fabweb/js/lib/jquery/tabs/ui.tabs.min.js</item>
        </JS>
        <CSS>
            <item>/fabweb/js/lib/jquery/jqModal.css</item>
            <item>/fabweb/styles/dbedit.css</item>
        </CSS>
    </EditStructure>
    <GetStructure>
        <layout>none</layout>
    </GetStructure>
    <CheckStructure>
        <layout>none</layout>
    </CheckStructure>
</config>
