<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
    <timezone>default</timezone>
    <smarturls>true</smarturls>
    <defaultroutes>2</defaultroutes>
    <theme>default</theme>
    <layout>default.htm</layout>
    <debug>false</debug>
    <showdebug>false</showdebug>
    <security>
        <handler>NoSecurity</handler>
    </security>
    <sessions>
        <use>false</use>
        <id>sid</id>
        <lifetime>0</lifetime>
    </sessions>
    <templates>
        <forcecompile>false</forcecompile>
        <checktime>true</checktime>
        <autoinclude>
            <checkbox>include/checkbox.html</checkbox>
            <checklist>include/checklist.html</checklist>
            <fieldset>include/fieldset.html</fieldset>
            <hidden>include/hidden.html</hidden>
            <password>include/password.html</password>
            <radio>include/radio.html</radio>
            <radiolist>include/radiolist.html</radiolist>
            <reset>include/reset.html</reset>
            <select>include/select.html</select>
            <textbox>include/textbox.html</textbox>
            <submit>include/submit.html</submit>
            <upload>include/upload.html</upload>
        </autoinclude>
        <resolveexternals>false</resolveexternals>
    </templates>
    <config>
        <checktime>true</checktime>
    </config>
    <taskmanager>
        <port>87</port>
        <timeout>0.5</timeout>
        <php>c:\php-5.2.2-Win32\php.exe</php>
        <phpargs>-C</phpargs>
    </taskmanager>
</config>
