<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
    <timezone>default</timezone>
    <smarturls>true</smarturls>
    <theme>default</theme>
    <layout>default.htm</layout>
    <debug>false</debug>
    <showdebug>false</showdebug>
    <security>
        <handler>NoSecurity</handler>
    </security>
    <sessions>
        <use>false</use>
        <id>sid</id>
        <lifetime>0</lifetime>
    </sessions>
    <templates>
        <forcecompile>false</forcecompile>
        <checktime>true</checktime>
        <autoinclude>
            <checkbox>include/checkbox.html</checkbox>
            <checklist>include/checklist.html</checklist>
            <fieldset>include/fieldset.html</fieldset>
            <hidden>include/hidden.html</hidden>
            <password>include/password.html</password>
            <radio>include/radio.html</radio>
            <radiolist>include/radiolist.html</radiolist>
            <reset>include/reset.html</reset>
            <select>include/select.html</select>
            <textbox>include/textbox.html</textbox>
            <submit>include/submit.html</submit>
            <upload>include/upload.html</upload>
        </autoinclude>
        <resolveexternals>false</resolveexternals>
    </templates>
    <config>
        <checktime>true</checktime>
    </config>
    <taskmanager>
        <port>87</port>
        <timeout>0.5</timeout>
        <php>c:\php-5.2.2-Win32\php-win.exe</php>
        <phpargs />
    </taskmanager>
    
    <alias>
        <!-- <jquery.js>/fabweb/js/lib/jquery/jquery-1.2.3.min.js</jquery.js> -->
        <jquery.js>http://ajax.googleapis.com/ajax/libs/jquery/1.2.3/jquery.min.js</jquery.js>
        <!-- Cf http://code.google.com/apis/ajaxlibs/ -->
        <diff_match_patch.js>/fabweb/js/lib/neil.fraser/diff_match_patch.js</diff_match_patch.js>

        <rpc.js>/fabweb/js/rpc.js</rpc.js>
        <rpc.css>/fabweb/css/rpc.css</rpc.css>
        
        <docbook_html.css>/fabweb/css/docbook/html.css</docbook_html.css>
    </alias>
    
    <!-- Indique si on ignore ou non la casse des urls. Option du module Routing, à déplacer   -->
    <urlignorecase>true</urlignorecase>
</config>
