<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
    <debug>true</debug>
    <timer>true</timer>
    <showdebug>true</showdebug>
    <smarturls>false</smarturls>
    <JS>
        <item>/FabWeb/js/lib/prototype/prototype.js</item>
        <item>/FabWeb/js/lib/rico/rico.js</item>
        <item>/FabWeb/js/debug.js</item>
    </JS>
    <CSS>
        <item>/FabWeb/styles/debug.css</item>
    </CSS>
    <templates>
        <forcecompile>false</forcecompile>
        <checktime>true</checktime>
        <autoinclude>
            <compress />
        </autoinclude>
    </templates>
    <config>
        <checktime>true</checktime>
    </config>
</config>
