<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
    <item>
        <url>/*</url>
        <module>defaultmodule</module>
        <action>index</action>
    </item>
    <item>
        <url>/[module]/*</url>
        <action>index</action>
    </item>
    <item>
        <url>/[module]/[action]*</url>
    </item>
</config>
