<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
    <access>cli,Admin</access>
    <actionDaemon>
        <access>cli</access>
        <layout>none</layout>
    </actionDaemon>
    <actionIndex>
        <CSS>
            <item>/fabweb/styles/taskmanager.css</item>
        </CSS>
    </actionIndex>
    <actionTaskStatus>
        <JS>
            <item>/FabWeb/js/lib/prototype/prototype.js</item>
        </JS>
    </actionTaskStatus>
    <actionTaskStatusUpdate>
        <layout>none</layout>
    </actionTaskStatusUpdate>
    <actionTest>
        <layout>none</layout>
    </actionTest>
</config>
