<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>

    <access>cli,Admin</access>

    <js>
        <item>jquery.js</item>
    </js>
    
    <css>
        <item>/FabWeb/css/taskmanager/taskmanager.css</item>
    </css>
    
    <actionDaemon>
        <access>cli</access>
        <layout>none</layout>
    </actionDaemon>
    
    <actionIndex>
        <action>actionSearch</action>
        <equation>*</equation>
        
        <max>-1</max>
        
        <template>index.html</template>
        <noanswertemplate>index.html</noanswertemplate>
    </actionIndex>
    <actionTaskStatus>
        <js>
            <item>/FabWeb/js/taskmanager.js</item>
        </js>
    </actionTaskStatus>
    
<!--     
    <actionIndex>
        <CSS>
            <item>/FabWeb/styles/taskmanager.css</item>
        </CSS>
    </actionIndex>
    <actionTaskStatusUpdate>
        <layout>none</layout>
    </actionTaskStatusUpdate>
    <actionTest>
        <layout>none</layout>
    </actionTest>
 -->
</config>
