<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
    <access>cli,Admin</access>
    <daemon>
        <access>cli</access>
        <layout>none</layout>
    </daemon>
    <index>
        <CSS>
            <item>/fabweb/styles/taskmanager.css</item>
        </CSS>
    </index>
    <taskstatus>
        <JS>
            <item>/FabWeb/js/lib/prototype/prototype.js</item>
        </JS>
    </taskstatus>
    <taskstatusupdate>
        <layout>none</layout>
    </taskstatusupdate>
    <test>
        <layout>none</layout>
    </test>
</config>
