<?xml version="1.0" encoding="UTF-8"?>

<!-- Fichier de configuration du module ThesaurusModule -->
<config>
    <database>thesaurus</database>

    <!-- Index : affiche la liste des  micro-thesaurus -->
    <actionIndex>
        <action>actionSearch</action>
        
        <template>index.html</template>

        <!--  equation par défaut : liste les micro-thesaurus (les descripteurs qui n'ont pas de TG) -->
        <equation>TG:__empty AND EM:__empty</equation>
        
        <!-- afficher toutes les réponses -->
        <max>-1</max>
    </actionIndex>
    
    <actionSearchForm>
        <template>searchform.html</template>
    </actionSearchForm>
  
    <actionSearch>
        <template>search.html</template>

        <!-- on limite le nombre de réponses -->
        <max>200</max>
    </actionSearch>

    <actionShow>
        <template>showsimple.html</template>
        <css>
            <item>/fabweb/css/thesaurus/thesaurus.css</item>
        </css>
        
        <!-- afficher toutes les réponses -->
        <max>-1</max>
    </actionShow>

    <actionNav>
        <action>actionSearch</action>
        <template>nav.html</template>

        <!--  equation par défaut : liste les micro-thesaurus (les descripteurs qui n'ont pas de TG) -->
        <equation>TG:__empty AND EM:__empty</equation>
        
        <!-- afficher toutes les réponses -->
        <max>-1</max>
         
        <js> 
            <item>jquery.js</item>
            <item>/fabweb/js/treeview.js</item>
        </js>
  
        <css> 
            <item>/fabweb/css/thesaurus/treeview.css</item>
        </css>
    </actionNav>
</config>