<template match="//checklist" name="" label="" src="" class="">
    <div class="holder checklist $class">
        <label>$label</label>
        {select('*[@class="before"]')}
        <loop on="$src" as="$key, $record">
            <if test="{is_array($record)}">
                <checkbox name="$name" label="{$record['label']}" value="{$record['code']}">{select('@*')}</checkbox>
            </if>
            <else>
                <checkbox name="$name" label="$record" value="{is_string($key) ? $key : $record}">{select('@*')}</checkbox>
            </else>
        </loop>
        {select('*[not(@class="before")]')}
    </div>
</template>