/*
    DatePicker : un contrôle permettant de choisir une date
    basé sur jquery/ui.datepicker.js
*/ 
<template match="//datepicker" id="" name="" value="" size="10" label="" class="" style="" format="dd/mm/yy">
    <script type="text/javascript" src="/FabWeb/js/lib/jquery/ui.datepicker/ui.datepicker.min.js"></script>
    <script type="text/javascript" src="/FabWeb/js/lib/jquery/ui.datepicker/i18n/ui.datepicker-fr.js"></script>
    <link rel="stylesheet" type="text/css" href="/FabWeb/js/lib/jquery/ui.datepicker/ui.datepicker.css" media="all" />
    <def name="calId" value="{autoId($id:$name:'calendar')}" />

    <label test="$label" class="calendar{rtrim(' '.$class)}" for="$calId">$label</label>

    <input
        type="text" 
        name="$name" 
        value="$value{select('node()')}"
        size="$size"
        id="$calId"
        class="text calendar{rtrim(' '.$class)}"
        style="$style"
        autocomplete="off" 
        >{select('@*')}</input>
    
    <script type="text/javascript">
        jQuery(document).ready(
        function()\{
            jQuery('#$calId').datepicker(\{
                firstDay: 1,            // La semaine commence le lundi
                changeFirstDay: false,  // Interdit de changer le 1er jour de la semaine
                minDate: new Date(),    // Interdit les dates dépassées
                dateFormat: '$format',  // Format des dates : jj/mm/aaaa
                closeAtTop: false,      // Boutons 'effacer/fermer' en bas
                hideIfNoPrevNext: true,
                changeMonth: false,
                changeYear: false,
                //numberOfMonths: 20,
                //appendText: 'hello',
                zzz: true
            \});
        \});
    </script>
</template>