<template match="//textbox[@password='true']" name="" label="" value="" class="" password="" id="">
    <label test="$label" class="password{rtrim(' '.$class)}" for="{autoId($id:$name:'password')}">$label</label>
    <input
        type="password" 
        name="$name" 
        title="{select('@title') : $label}"
        value="{select('string(@value)')}{select('.//text()')}"
        class="password{rtrim(' '.$class)}" 
        id="{$label ? lastId() : ''}">{select('@*')}</input>
</template>