<template match="//radiolist" name="" label="" src="" class="">
    <div class="holder radiolist $class">
        <label>$label</label>
        {select('*[@class="before"]')}
        <loop on="$src" as="$key, $record">
            <if test="{is_array($record)}">
                <radio name="$name" label="{$record['label']}" value="{$record['code']}" />
            </if>
            <else>
                <radio name="$name" label="$record" value="{is_string($key) ? $key : $record}" />
            </else>
        </loop>
        {select('*[not(@class="before")]')}
    </div>
</template>