<template match="//select[@src]" name="" label="" src="" class="" size="" id="">
    <div class="holder select $class {$size ? 'multiline' : ''}">
        <label for="{Template::autoId($id:$name:'select')}">$label</label>
        {select('*[@class="before"]')}
        <select
            name="$name"
            size="$size"
            id="{Template::lastId()}">{select('@*')}
            <loop on="$src" as="$key,$record">
                <if test="{is_array($record)}">
                    <option value="{$record['code'] === $record['label'] ? '' : $record['code']}">{$record['label']}</option>
                </if>
                <else>
                    <option value="{is_string($key) ? trim($key) : ''}">$record</option>
                </else>
            </loop>
        </select>
        {select('*[not(@class="before")]')}
    </div>
</template>