<h1>Page non trouvée</h1>
<p>
    La page que vous avez demandée n'existe pas sur ce serveur.
</p>

<p>
    Si vous avez tapé vous-même l'adresse de la page, vérifiez que vous n'avez
    pas introduit d'erreurs. Si vous avez suivi un lien présent sur notre site,
    vous pouvez signaler le problème à l'administrateur : 
    <a href="mailto:[admin.email]">[admin.name]</a>.
</p>

<ul>
    <li><a href="/">Aller à la page d'accueil du site</a></li>
    <li><a href="javascript:history.go(-1)">Revenir à la page précédente</a></li>
</ul>

<hr />

<p>
    <em>Erreur 404&nbsp;: fichier non trouvé</em>
</p>
