<!-- Template appelé par la pseudo action rawDBOutput définie à partir de show -->
<!--  Utile pour afficher les champs tels qu'ils sont dans la base sans passer par des callback -->

<!--  ******** TODO : accessible qu'en admin normalement *********  -->
<h2>Affichage brut du contenu de la notice n°$REF</h2>

<loop on="$record" as="$name, $value">
    <div class="row">
        <span class="label">$name => </span>
        <span class="value">{var_dump($value)}</span>
        <br />
    </div>
</loop>